<!-- <h1>Log in</h1>
<%#= form_tag sessions_path do %>
  <p>
    <#%= label_tag :email %><br />
    <#%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <#%= label_tag :password %><br />
    <#%= password_field_tag :password %>
  </p>
  <p class="button"><%#= submit_tag "Log in" %></p>
<#% end %>
 -->

  <nav class="navbar navbar-fixed-top" id="nav">
    <div class="container" style="max-width: 5000px">
      <div class="navbar-header">

        <a class="navbar-brand" href="#top" id="name">SANDBOX</a>

        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->


      <!-- </div>
      <div id="navbar" class="collapse navbar-collapse"> -->
        <!-- <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="fa fa-camera-retro fa-5x"></span></a></li>
          <li><a href="#"><span class="fa fa-lock fa-5x"></span></a></li>
          <li><a href="#"><span class="fa fa-cog fa-5x"></span></i></a></li>
        </ul> -->
        <div style="float:right">
          <span class="fa fa-cog fa-5x" style="padding-right: 10px"></span>
          <span class="fa fa-lock fa-5x" style="padding-right: 10px"></span>
          <span class="fa fa-smile-o fa-5x" style="padding-right: 10px"></span>
        </div>

      </div>
    </div>
  </nav>

<br><br>
 <h3>Login for Sandbox</h3>
<div class="login">
<%= form_tag "/sessions", {class: 'login-form'} do %>
  <%= label_tag :email %><br/>
  <%= email_field_tag :email %>
  <br/>
  <br/>
  <%= label_tag :password %><br/>
  <%= password_field_tag :password %>
  <br/><br/>
  <%= submit_tag "Log in" %>
<% end %>
</div>
<script type="text/javascript">
  window.onload = function(){
    if (<%= $message != nil %>) {
      sweetAlert("Oops!","<%= $message %>", "error");
    }
  };
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61212839-1', 'auto');
  ga('send', 'pageview');

</script>
